<h3 class="text-center">account</h3>

<form #accountForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal" novalidate>
    <div class="form-group">
        <label class="control-label col-md-2" for="name">Name:</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="account.name" name="name" required #nameControl="ngModel">
            <div class="alert alert-danger" [hidden]="nameControl.valid || nameControl.pristine">Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="name">Active:</label>
        <div class="col-md-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="active" [(ngModel)]="account.isActive" name="isActive"> Active
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-md-offset-8">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-sm" (click)="onReturn()">Back</button>
                <button type="submit" class="btn btn-success btn-sm" [disabled]="!accountForm.form.valid">Save</button>
            </div>
        </div>
    </div>
</form>