<h3 class="text-center">Category</h3>

<form #form="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal" novalidate>
    <div class="form-group">
        <label class="control-label col-md-2" for="name">Name:</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="category.name" name="name" required #nameControl="ngModel">
            <div class="alert alert-danger" [hidden]="nameControl.valid || nameControl.pristine">Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="name">Type:</label>
        <div class="col-md-10">
            <select class="form-control" [(ngModel)]="category.type_category_id" name="type_category_id" required>
                <option *ngFor="let type of typeCategories" [value]="type.id">{{ type.name }}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="name">Active:</label>
        <div class="col-md-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="active" [(ngModel)]="category.isActive" name="isActive"> Active
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-md-offset-8">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-sm" (click)="onReturn()">Back</button>
                <button type="button" class="btn btn-danger btn-sm" (click)="onDelete()">Delete</button>
                <button type="submit" class="btn btn-success btn-sm" [disabled]="!form.form.valid">Save</button>
            </div>
        </div>
    </div>
</form>