<h3 class="text-center">
    List of Category</h3>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." #param>
            <span class="input-group-btn">
        <button class="btn btn-default btn-primary" (click)="onFilter(param.value)">Filter</button>
        <button class="btn btn-default btn-danger" (click)="onClearFilter(); param.value = '';">Clear</button>
      </span>
        </div>
    </div>
</div>

<br>

<div class="row">
    <ul class="list-group col-md-8 col-md-offset-2">
        <li *ngFor="let cat of categories" class="list-group-item row">
            <div class="col-md-8">
                <a class="btn btn-default" (click)="goTo(cat)">
                {{cat.name}}
            </a>
            </div>
            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" [checked]="cat?.isActive" disabled> Active
                    </label>
                </div>
            </div>
        </li>
    </ul>
</div>

<app-error *ngIf="errorMessage" [error]="errorMessage"></app-error>
<app-success *ngIf="successMessage" [message]="successMessage"></app-success>